/* estilos de boton actualizar */
.btn-submit {
    border-radius: 25px;
    background-color: #EB6060;
    height: 40px;
    width: 60%;
    font-size: 14px;
    color: white;
    margin-left: 20%;
}

/* Finde */


/* scroll invisible */
::-webkit-scrollbar {
    display: none;
}

/* Finde */


/* estilos de vista main */
.bodyController {
    overflow: auto;
    width: 30%;
}

.mainView {
    background-color: rgb(2 6 23);
}

/* Finde */


/* estilos de icono de perfil */
.imagePerfil {
    margin-left: 40%;
    width: 120px;
    height: 120px;
}

/* Finde */


/* estilos para los forms-principales */
.bodyController {
    margin: 0 auto;
    background-color: rgb(2 6 23);
}

.form-group {
    color: white;
    padding: 5px;
}

.bodyController .form-control:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(0, 0, 255, 0.2);
}

.bodyController .form-control {
    /* background-color: transparent; */
    background-color: rgb(2 6 23);
    font-weight: 600;
    padding: 20px;
    border: 1px solid grey;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-width: 2px;
    border-radius: 20px;
}

.bodyController .form-control1 {
    /* background-color: transparent; */
    background-color: rgb(2 6 23);
    width: 100%;
    border: 2px solid grey;
    padding: 10px;
}

/* Finde */


/* estilos de las letras */
ul {
    color: white;
}

h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

p {
    font-size: 12px;
    color: #959ea9;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

label {
    color: white;
    font-weight: 600;
}

/* finde */


/* estilos del select */
.select-status {
    /* background-color: transparent; */
    background-color: rgb(2 6 23);
    border: 1px solid grey;
    width: 50%;
    height: 40px;
    margin-left: 20%;
    text-align: center;
    border-width: 2px;
    border-radius: 20px;
    font-weight: 600;
}

/* finde */