* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://phpstack-909679-3911089.cloudwaysapps.com/medicsys/webroot/img/image/HD-wallpaper-doctor-medical.jpg);
    background-position: center;  
    color: #dcd9e0;
}

.h1{
    width: 90%;
    height: 95vh;
}
.container-form {
    width: 90%;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    color: #16b1c5;
    font-size: 5rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem; 
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .5s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #6464f8;
}

.formulario {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    transition: all .5s ease-in;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}
